.QuestionModal__Wrapper {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.QuestionModal__Container {
  color: #FFFFFF;
  background-color: hsl(25, 100%, 58%);
  border-radius: 7px;
  max-width: 480px;
  width: 100%;
  box-sizing: border-box;
  padding: 1em;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.QuestionModal__Title {
  text-align: center;
  font-weight: normal;
  margin: 0;
}

.QuestionModal__RemainTime {
  text-align: right;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: all 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
