.classpath
.project
.cache-main
.cache-tests
.settings/
target/
project/target
.cache
.idea/
.cache-main
.envrc
bin/
native
*.pyc
*.pem
*.stackdump
*.tfvars
*.tfstate
*.tfstate.backup
*.deb
*.tgz
*.log
*.env
.terraform/
.vscode/
node_modules/
dump.rdb

apiServer/go.sum

.DS_Store

credential.yml
fly
.vagrant/
deployment/*/Chart.yaml
account.json

my-ssh-key
my-ssh-key.pub

# vscode extension
metals.sbt
.bloop/
.metals/

#go.sum
go.sum
