.QuizPanel__Container {
  color: #FFFFFF;
  background: hsl(25, 100%, 68%);
  width: 380px;
  height: 130px;
  border-radius: 7px;
  margin: 0;
}

.QuizPanel__Header {
  background: hsl(25, 100%, 58%);
  border-radius: 7px;
  display: flex;
  justify-content: space-between;
}

.QuizPanel__NameArea {
  padding: 1em 1.5em;
  width: calc(100% - 8em);
  margin: 0;
}

.QuizPanel__StarArea {
  border-radius: 0 7px 0 0;
  background: hsl(25, 100%, 58%);
  height: 100%;
  text-align: center;
  width: 8em;
  padding: 1em 1.5em;
}

.QuizPanel__AnswerArea {
  background: hsl(25, 100%, 68%);
  margin: 0;
  font-size: 1.2rem;
  padding: 10px 10px;
  text-align: center;
}
