%__Container {
  color: #FFFFFF;
  background: hsl(25, 100%, 68%);
  width: 380px;
  height: 190px;
  border-radius: 7px;
  margin: 0;
}

.QuizPanel {
  &__Container {
    @extend %__Container;

    overflow: hidden;

    &--Plus {
      @extend %__Container;
      background: hsl(5, 100%, 68%);

      .QuizPanel {
        &__Header {
          background: hsl(5, 100%, 58%);
        }

        &__StarArea {
          background: hsl(5, 100%, 58%);
        }

        &__AnswerArea {
          background: hsl(5, 100%, 68%);
        }
      }
    }

    &--Minus {
      @extend %__Container;
      background: hsl(210, 100%, 68%);

      .QuizPanel {

        &__Header {
          background: hsl(210, 100%, 58%);
        }

        &__StarArea {
          background: hsl(210, 100%, 58%);
        }

        &__AnswerArea {
          background: hsl(210, 100%, 68%);
        }
      }
    }
  }

  &__Header {
    background: hsl(25, 100%, 58%);
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
  }

  &__NameArea {
    padding: 1em 1.5em;
    width: calc(100% - 8em);
    margin: 0;
  }

  &__StarArea {
    border-radius: 0 7px 0 0;
    background: hsl(25, 100%, 58%);
    height: 100%;
    text-align: center;
    font-size: 1.2rem;
    width: 8em;
    padding: 0.8em 0.3em;
  }

  &__AnswerArea {
    background: hsl(25, 100%, 68%);
    margin: 0;
    font-size: 1.2rem;
    padding: 10px 10px;
    text-align: center;
  }
}
