%__Container {
    display: flex;
    flex-direction: column;
    background-color: hsl(25, 100%, 58%);
    border-radius: 7px;
    margin: 10px;
}

.QuizAdminPanel {
  &__Container {
    @extend %__Container;

    &--Plus {
      @extend %__Container;
      background: #cc0100;
    }

    &--Minus {
      @extend %__Container;
      background: #4a86e8;
    }

    &.disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  &__StarButton {
    width: 7em;
    margin: 0;
    padding: 0;

    &:hover {
      cursor: pointer;
    }
  }

  &__StarPanel {
    display: flex;
    justify-content: space-between;
    height: 60px;

    button {
      height: 40px;
      border-radius: 3.5px;
      border: #FFFFFF 2px solid;
      background-color: rgba(0,0,0,0);
      font-size: 1.2rem;
      color: #FFFFFF;
    }

    input {
      height: 40px;
      border-radius: 3.5px;
      border: #FFFFFF 2px solid;
      background-color: rgba(0,0,0,0);
      font-size: 1.2rem;
      color: #FFFFFF;
      text-align: center;
    }

    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input[type="number"] {
      -moz-appearance:textfield;
    }
  }

  &__StarController {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &__InputStar {
    color: #FFFFFF;
    text-align: center;
    font-size: 1.2rem;
    width: 4em;
  }
}
