$MAIN_TEXT_COLOR: #666666;
$MAIN_UI_WIDTH: 250px;

.flexColumnCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

* {
  box-sizing: border-box;
}

body {
  color: $MAIN_TEXT_COLOR;
  background-color: #AAAAAA;
  margin: 0;
}
