.quizPanelContainer {
  display: flex;
  border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.09);

  max-width: 1600px;

  flex-wrap: wrap;
  justify-content: center;

  .QuizPanel__Container {
    margin: 10px;
  }
}