.flexColumnCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Player__Volume {
  position: fixed;
  bottom: 0;
}


.Player__Status {
  font-size: 1.3rem;
}

.Player__Question {
  color: #FFFFFF;
  background-color: hsl(25, 100%, 58%);
  border-radius: 7px;
  max-width: 480px;
  width: 100%;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
  padding-top: 10px;
}

.Player__Wrapper {
  @extend .flexColumnCenter;
}

.Player__List {

}

.Player__TextLabel {
  font-weight: bold;
}
