.flexColumnCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SubmitQuestion__view {
  @extend .flexColumnCenter;
}

.SubmitQuestion__InputQuestion {
  @extend .flexColumnCenter;
  background-color: hsl(25, 100%, 48%);

  color: #FFFFFF;
  width: 460px;
  border-radius: 7px;

  h1 {
    margin: 0;
    font-size: 1.3rem;
    padding-top: 25px;
    font-weight: normal;
    padding-bottom: 25px;
  }
  padding-bottom: 25px;
  margin-bottom: 25px;
}

.Room__QuestionBox {
  margin-bottom: 25px;
  height: 40px;
  border: #FFFFFF 2px solid;
  border-radius: 3.5px;
  width: 400px;
}

.SubmitQuestion__PlayerList {
  display: flex;
  border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.09);

  flex-wrap: wrap;
  justify-content: center;

  .QuizPanel__Container {
    margin: 10px;
  }
}

.Room__timeLimit {
  width: 400px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 10px;
}

.Room__setTimeLimitLabel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Room__setTimeLimit {
  margin: 0;
  width: 30px;
  height: 30px;
}

.Room__timeLimitInput {
  width: 80px;
  height: 30px;
  color: #555555;
  margin-left: 10px;
  -moz-appearance:textfield;
  border: #FFFFFF 2px solid;
  border-radius: 3.5px;
  text-align: center;
  font-size: 1.1rem;
}

.Room__timeLimitInput:disabled {
  background-color: #e2e2e2;
}

.Room__timeLimitInput::-webkit-inner-spin-button,
.Room__timeLimitInput::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
